.royal-blue {
  background: #723dbe;

  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #723dbe, #6a3093);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #723dbe, #6a3093);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background: #723dbe;
  color: #fafafa;
}
