body {
  color: #664;
}

.login-container {
  height: 100vh;
  width: 100%;
}

.login-orm {
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto
}

.form-control {
  font-size: 15px;
  min-height: 48px;
  width: 28rem;
  font-weight: 500;
}

.form-control:focus {
  border-color: #fafafa;
  box-shadow: 0 0 0 .2rem rgba(114, 61, 190 .25);
}

.forgot-link {
  font-size: 13px;
}

.font-link label {
  margin-bottom: 0;
}

.login-form a {
  text-decoration: none;
  color: #664;
}

.login-form a:hover {
  color: #723dbe;
}

.btn-custom {
  background: #723dbe;
  border-color: #723dbe;
  color: #fafafa;
  font-size: 15px;
  min-height: 600;
  min-height: 48px;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus {
  background: #54229d;
  border-color: #54229d;
  color: #fafafa;
}

.btn-custom:focus {
  box-shadow: 0 0 0 .2rem rgba(114, 61, 190 .25);
}


@media (max-width: 494px) {
  form {
    width: 200px;
    height: 100px;
  }

  input {
    max-width: 200px;
  }
}

.social-links {
  display: flex;
  cursor: pointer;
}

.google {
  height: 40px;
  width: 100%;
  border: 1px solid silver;
  border-radius: 10px;
  margin: 0 10px;
}


.social-links span {
  position: relative;
  font-size: 17px;
  padding-left: 8px;
}


.c-btn {
  font-size: 15px;
  min-height: 600;
  min-height: 48px;
  background: #dd4b39;
  color: #fafafa;
}


.google:hover {
  border: 1px solid #fafafa;
  translate: transformY(2px);
  background: #de1507;
}
