<div class="row">
  <div class="col-md-4">
    <h3>Seleccione los archivos...</h3>
    <div
      appNgDrop
      [archivos]="archivos"
      (mouseSobre)="estaSobreElem = $event"
      [ngClass]="{ 'file-over': estaSobreElem }"
      class="well drop-zone"
    >
      <h4>¡Ponga los archivos aquí!</h4>
      <img src="assets/drop-images.png" alt="" />
    </div>
  </div>
  <div class="col-md-8">
    <h4>
      Cargar archivos
    </h4>
    <button
      (click)="cargarImagenes()"
      [disabled]="archivos.length === 0"
      class="btn btn-success"
    >
      Cargar a Firebase
    </button>
    <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>

    <table>
      <thead class="thead-dark">
        <tr>
          <th>Nombre archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>

      <td *ngFor="let archivo of archivos" >
        <tr>
          <td>{{archivo.nombreArchivo}}</td>
          <td>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}}</td>
          <td>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ 'width': archivo.progreso + '%' }"
              ></div>
            </div>
          </td>
        </tr>
      </td>
    </table>
  </div>
</div>
